<!-- By Anthony Peng -->
<!-- Prototype/Basic Design Of Title Screen Section -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Police Accountability Board</title>
    <link rel="stylesheet" href="css/custom.css">
  </head>
  <div class="background">
    <nav>
        <h2 class="banner_title">Police Accountability Board</h2>
        <ul>
            <li class= "nav_button"> <a href="/">Home</a></li>
            <li class= "nav_button"> <a href="/about.html">About</a></li>
            <li class= "nav_button"> <a href="/more_info.html">Contact</a></li>
        </ul>
    </nav>
    <h1 class="headline">TO STOP <span class="auto_type"></span></h1>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
        var typed = new Typed(".auto_type", {
            strings: ["INJUSTICE", "SUFFERING", "ABUSE", "DISCRIMINATION"],
            typeSpeed: 65,
            backSpeed: 65,
            loop: true
        })
        </script>
  <body>
    <div class="News">NEWS SECTiON Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet perferendis exercitationem ut? Saepe exercitationem praesentium, quia corporis, vel porro voluptatibus voluptatum, nostrum consectetur sapiente quos minus dicta ipsam eligendi esse?</div>
    <div class="Viral_video"> <a href="/viralVideos.html">VIRAL VIDEO SECTION Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad iusto non expedita eum! Quisquam aspernatur nostrum necessitatibus provident nesciunt aliquam perferendis, obcaecati deleniti excepturi aut fugit enim, asperiores illo unde!</a></div>
    <div class="Report"> <a href="/submitAPost.html">REPORT SECTION Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel natus similique quisquam provident magni corporis deserunt, voluptatem quo dicta quis exercitationem minus doloribus necessitatibus doloremque, modi voluptas aut maxime perferendis?</a></div>
    <div class="Post_own_vid">POSTING VIDEO SECTION Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quidem error. Asperiores dolorem placeat tempora nemo natus nobis molestias similique eveniet modi alias soluta nihil, ad facilis ipsa voluptas enim.
    </div>
  </body>
</html>