<!-- By Anthony Peng -->

<!-- Prototype/Basic Design Of Title Screen Section -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Police Accountability Board</title>
    <link rel="stylesheet" href="css/custom.css">
  </head>
  <div class="background">
    <nav>
        <h2 class="banner_title">Police Accountability Board</h2>
        <ul>
            <li class= "nav_button"> <a href="/">Home</a></li>
            <li class= "nav_button"> <a href="/more_info.html">About</a></li>
            <li class= "nav_button"> <a href="/contact.html">Contact</a></li>
        </ul>
    </nav>
    <h1 class="headline">TO STOP <span class="auto_type"></span></h1>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
        var typed = new Typed(".auto_type", {
            strings: ["INJUSTICE", "SUFFERING", "ABUSE", "DISCRIMINATION"],
            typeSpeed: 65,
            backSpeed: 65,
            loop: true
        })
        </script>

  <body>
<center style="font-size:48px;">
    <a href="news.html" ><div class="Link1">NEWS SECTION </div></a>
    <p></p>
    <a href="/viralVideos.html"><div class="Link1"> VIRAL VIDEO SECTION </div></a>
    <p></p>
    <a href="/submitAPost.html"><div class="Link1"> REPORT SECTION </div></a>
    <p></p>
    <a href="/postVideo.html"><div class="Link1">POSTING VIDEO SECTION</div> </a>
</center>
  </body>
  </div>
</html>