<!-- By Anthony Peng -->
<!-- Prototype/Basic Design Of More Info Section -->
<!-- additions: Cullen Walsh-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>More Info</title>
  <link rel="stylesheet" href="css/custom.css">
</head>
<div class="background">
  <nav>
    <h2 class="banner_title">Police Accountability Board</h2>
    <ul>
      <li class= "nav_button"> <a href="/">Home</a></li>
      <li class= "nav_button"> <a href="/more_info.html">About</a></li>
      <li class= "nav_button"> <a href="/contact.html">Contact</a></li>
    </ul>
  </nav>

  <body><center>
  <div class="headline_subtext">we are a group of college students looking to make a change for the future to benefit all of society</div>
	<div class="Link1"><a href="/about.html"><h2>MORE ABOUT US </h2> </a></div>
    <div class="Link1"><a href="/contact.html"><h2>Contact Us</h2></a></div>
  </center></body>
</div>
</html>