<!-- author: Cullen Walsh-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post a Video</title>
    <link rel="stylesheet" href="css/custom.css">
</head>
<div class="background">
    <nav>
        <h2 class="banner_title">Police Accountability Board</h2>
        <ul>
            <li class= "nav_button"> <a href="/">Home</a></li>
            <li class= "nav_button"> <a href="/more_info.html">About</a></li>
            <li class= "nav_button"> <a href="/contact.html">Contact</a></li>
        </ul>
    </nav>

<body>
<center>
    <div class="Title"> Paste your link into the text box here::</div>
    <form>
<textarea name="submit box" cols="100" rows="20">
Type in your report here
</textarea>
        <br/>
        <input type="submit"/>
    </form>
    <div class="Link1"style="font-size:24px">we will add better functionality ot take in videos in the future</div>
</center>
</body>
</div>
</html>