<!-- author: Cullen Walsh-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viral videos</title>
    <link rel="stylesheet" href="css/custom.css">
</head>
<div class="background">
    <nav>
        <h2 class="banner_title">Police Accountability Board</h2>
        <ul>
            <li class= "nav_button"> <a href="/">Home</a></li>
            <li class= "nav_button"> <a href="/more_info.html">About</a></li>
            <li class= "nav_button"> <a href="/contact.html">Contact</a></li>
        </ul>
    </nav>

<body>
these are the viral videos that are circulating
</body>
</div>
</html>